#container {
  text-align: center;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}
.item {
  contain:none;
}
.datetime{
    contain:none;
}
.icon-right {
  color:white;
  position: absolute;
  right: 1mm;
  height: 1cm;
  width: 1cm;
  top: 1mm;
}

.icon-left {
  top: 1mm;
  color:white;
  position: absolute;
  left: 1mm;
  height: 1cm;
  width: 1cm;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.icon {
  position: absolute;
  height: 2em;
  width: 2em;
}

.input-top {
  z-index: 2;
  position: absolute;
  width:100%;
  top: 1.2cm;
  left: calc(50% - 9.2em);
  justify-content: center;
  display:flex;
  flex-direction: column;
}
ion-header::after {
  background-image: none;
}

ion-datetime::after{
  white-space: unset;
}

.input-bottom {
  z-index: 2;
  position: absolute;
  bottom: 5mm;
  left: calc(20%/2);
  display: flex;
  flex-direction: column;
  width:80%;
}

.sea {
  background: #000;
  height: 100%;
  width:100%;
  top: -1cm;
  border: 1px red solid;
}

#map{
  top: -1cm;
  height: 100%;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.font{
  font-size: inherit;
}
.center{
  margin:0;
  text-align: center;
  align-items: center;
  justify-items: center;
}
.center-text{
  margin-top:5mm;
  color:white;
  text-align: center;  
}
.border {
  border: 1px solid black;
}
.curve {
  color: white;
  overflow: hidden;
  text-align: center;
  padding-bottom: 1cm;
  width: 100%;
  z-index: 2;
  
  &::before {
    content: '';
    display: block;
    background: radial-gradient(ellipse at center, rgba(255, 126, 206,1) 100%,rgba(255, 126, 206,1) 100%);
    position: absolute;
    left: 50%;
    bottom: 80vh;
    transform: translateX(-50%);
    border-radius: 150vw;
    width: 300vw;
    height: 300vw;
    z-index: -1;
  }
}

.fill-width {
  width:100%;
}
